<div sui-container
    style="display: flex; flex-direction: column; width: 100%; min-height: 100vh; justify-content: space-between; align-items: center; padding: 16px;">
    <header>
        <h1 sui-header>Semantic form</h1>
    </header>
    <main>
        <form (ngSubmit)="onSubmit()" sui-form>
            <div suiFormField>
                <label>Name</label>
                <div suiFormFields suiWidth="two">
                    <div suiFormField>
                        <input [(ngModel)]="firstName" type="text" name="firstName" placeholder="First Name" required>
                    </div>
                    <div suiFormField>
                        <input [(ngModel)]="lastName" type="text" name="lastName" placeholder="Last Name" required="">
                    </div>
                </div>
            </div>
            <div suiFormField>
                <label>E-mail</label>
                <input [(ngModel)]="email" type="email" name="email" placeholder="john@doe.com" required="">
            </div>
            <div suiFormField>
                <label>Phone number</label>
                <input type="number" name="phoneNumber" placeholder="+123-5435-5433" [(ngModel)]="phoneNumber">
            </div>

            <div suiFormFields suiWidth="two">
                <div suiFormField>
                    <label>Country</label>
                    <sui-select name="country" suiPlaceholder="Country" [suiOptions]="countries"
                        [(ngModel)]="country"></sui-select>
                </div>
                <div suiFormField>
                    <label>Occupation</label>
                    <sui-select name="occupation" [(ngModel)]="occupation" suiPlaceholder="Occupation"
                        [suiOptions]="occupations"></sui-select>
                </div>
            </div>

            <div suiFormField>
                <label>Successful</label>
                <div class="ui radio checkbox">
                    <input type="radio" name="successful" value="true" [(ngModel)]="successful" />
                    <label>True</label>
                </div>
            </div>
            <div suiFormField>
                <div class="ui radio checkbox">
                    <input type="radio" name="successful" value="false" [(ngModel)]="successful" />
                    <label>False</label>
                </div>
                <!-- <div suiFormField>
                    <sui-checkbox name="successful" [(ngModel)]="successful" suiValue="true" suiType="radio">
                        Yes
                    </sui-checkbox>
                </div>
                <div suiFormField>
                    <sui-checkbox name="successful" suiValue="false" suiType="radio">
                        No
                    </sui-checkbox>
                </div> -->
            </div>
            <button sui-button type="submit">Submit</button>

        </form>
    </main>

    <footer>
        <div>
            semantic-form &copy;2023
        </div>
    </footer>
</div>